.container
  %h3 Editing Person
  = render 'form', person: @person
  = link_to 'Show', @person ,{class: 'btn btn-secondary btn-sm'}
  = link_to 'Back',  people_path, {class: 'btn btn-primary btn-sm'}
