.container
  %h1
  %button.btn.btn-danger{:type => "button"}
    People
    %span.badge.badge-pill.badge-default= @people.count
  - 2.times do
    %br
  %table#person.display{data: {source: people_url(format: 'json')}}
    %thead
      %tr
        %th Name
        %th Date Of Birth
        %th Phone Number
    %tbody
  %br/
  = link_to 'New Person', new_person_path, {class: 'btn btn-info'}
